* {
	font-family: verdana;
	color: black;
	text-decoration: none;
}

ul {
	list-style-type: none
}

.top_bar {
	display: grid;
	grid-template-rows: 75px 50px 50px;
}

.bar_item {
	display: flex;
	justify-content: center;
	align-items: center;
}

.main_title {
	grid-row: 1;
}


.search_bar {
	grid-row: 2;
}

.user_access {
	grid-row: 3;
	gap: 10px;
}


