.film_list_page {
    display: grid;
    grid-template-rows: 60px auto 50px auto auto;
    margin-bottom: 20px;
}

.list_title {
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.invite_user {
    grid-row: 2;
    display: flex;
    justify-content: center;
}

.messages_container {
    grid-row: 3;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.film_list_container {
    grid-row: 4;
    padding-top: 15px;
    display: grid;
    grid-template-columns: 1fr minmax(110px, 1000px) 1fr;
}

.list_of_films {
    grid-column: 2;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0;
    gap: 10px;
}

.film_item {
    width: 100px;
    padding-bottom: 15px;
}

.footer_links {
    display: flex;
    justify-content: center;
    gap: 50px;
}