p.italic {
  font-style: italic;
}

.film_details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overview {
  max-width: 500px;
}

.add_remove_buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 10px;
  align-items: flex-start;
  max-width: 500px;
  align-self: center;
}

.add_remove_button {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.add_button {
  background-color: green;
}

.remove_button {
  background-color: red;
}
