.home_page_container {
    display: grid;
    grid-template-rows: 10px 50px 50px 1fr;
}

.login_link {
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-decoration: underline;
}

.list_header {
    grid-row: 3;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.film_list_container {
    grid-row: 4;
    display: grid;
    grid-template-columns: 1fr minmax(110px, 1000px) 1fr;
}

.list_of_films {
    grid-column: 2;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0;
    gap: 10px;
}

.film_item {
    width: 100px;
}

