.home_page_container {
  width: 100%;
}

.login_link, .my_lists_link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    margin-bottom: 40px;
}

.list_header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    font-style: italic;
}

/* Scrolling bar ----------------------------------- */

#container {
  height: 160px;
  position: relative;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

.photobanner {
  white-space: nowrap;
}

.photobanner img {
  margin: 0 0.3em;
}

#container:hover {
  overflow: auto;
}

/* Scrolling bar END ----------------------------------- */