.lists_page_container {
    display: grid;
    grid-template-rows: 60px 1fr 50px 50px;
}

.my_lists_title {
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my_lists_container {
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 30px;

}

.lists_container {
    display: grid;
    grid-template-columns: auto minmax(100px, 500px) auto;
}

.my_lists {
    grid-column: 2;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 30px;
}

.list_item {
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: flex-start;
    gap: 10px;
}

.list_poster_stack {
    display: flex;
    flex-direction: row;
}

.stack_item {
  margin-left: -20px;
}

.invitations_container {
    grid-row: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create_list {
    grid-row: 4;
    display: flex;
    justify-content: center;
    gap: 50px;
}