.lists_page_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
}

.my_lists_title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.my_lists_container {
    display: flex;
    justify-content: center;
    margin: 0px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.my_lists {
    display: flex;
    flex-flow: column;
    gap: 30px;
}

.list_item {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    gap: 10px;
}

.list_poster_stack {
/*    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: scroll;
    gap: 10px;*/
}

.stack_item {
  /*margin-left: -40px;*/
}

.invitations_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.create_list {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}