.login_page {
	display: flex;
	flex-direction: column;
}

.login_title{
	display: flex;
	justify-content: center;
}

.login_form_container {
	display: flex;
	justify-content: center;
}

.reset_link {
	display: flex;
	justify-content: center;
}