asgiref==3.8.1
autocommand==2.2.2
backports.tarfile==1.2.0
bugsnag==4.7.1
certifi==2025.1.31
charset-normalizer==3.4.1
Django==5.2.1
django-extensions==3.2.3
django-shell-plus==1.1.7
django-sqids==0.2.1
django-storages==1.14.2
django-widget-tweaks==1.5.0
git-filter-repo==2.47.0
idna==3.10
importlib_metadata==8.0.0
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
more-itertools==10.7.0
packaging==25.0
pillow==11.2.1
pillow_heif==0.22.0
psycopg==3.2.1
pylibmc==1.6.3
python-dotenv==1.0.1
requests==2.32.3
sqids==0.5.1
sqlparse==0.5.3
tinycss2==1.4.0
tomli==2.0.1
typing_extensions==4.13.2
urllib3==2.4.0
webencodings==0.5.1
WebOb==1.8.9
wheel==0.45.1
zipp==3.21.0
