{% extends "kinorg/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'user_admin/css/custom_login.css' %}">
{% endblock %}

{% block content %}

<div class="login_page">

	<div class=login_title>
		<h4>Login</h4>
	</div>

	<div class="login_form_container">
		<div class="">
			<form method="post" class="login_form">
	    		{% csrf_token %}
	            {% for field in form %}
	            <div class="form_field">
	                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
	                {{ field }}
	                {% if field.errors %}
	                    {% for error in field.errors %}
	                    <p class="field_error">{{ error }}</p>
	                    {% endfor %}
	                {% endif %}
	            </div>
	            {% endfor %}
	    		<button type="submit">Login</button>
			</form>
		</div>
	</div>

	<div class="reset_link">
	    <a href="{% url 'user_admin:reset_password' %}"><button>Reset Password</button></a>
	    <a href="{% url 'user_admin:signup' %}"><button>Create an account</button></a>
	</div>

</div>



{% endblock %}