{% extends "kinorg/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'user_admin/css/reset_password.css' %}">
{% endblock %}

{% block content %}

<div class="reset_page">

{% if form.errors %}
	{% for key, value in form.errors.items %}
		<strong>
			{{ value }}
		</strong>
	{% endfor %}
{% endif %}

	<div class=reset_title>
		<h3>Forgot Password?</h3>
	</div>

	<div class=reset_form>
		<form method="POST" enctype="multipart/form-data">
    		{% csrf_token %}
    		{{ form.as_p }}
    		<button type="submit">
    			Submit
    		</button>
		</form>
	</div>
</div>

{% endblock %}
