{% extends "kinorg/base.html" %}
{% block title %} Password Reset {% endblock title%}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'user_admin/css/custom_reset_password_confirm.css' %}">
{% endblock %}

{% block content %}

{% if validlink %}

<div class="reset_confirm_container">

    <div class="reset_confirm_message">

    <h3>Reset Your Password</h3>
    
    {% if form.errors %}
        {% for key, value in form.errors.items %}
            <strong>{{ value }}</strong>
        {% endfor %}
    {% endif %}


    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
                              

    {% else %}

    <div>

        The password reset link was invalid, possibly because it has already been used.

        Please request a new password reset.

    </div>

    </div>

</div>

{% endif %}

{% endblock content %}