{% extends "kinorg/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'user_admin/css/custom_signup.css' %}">
{% endblock %}

{% block content %}

<div class="signup_page">

    <div class="signup_title">
        <h4>Create Account</h4>
    </div>

    <div class="signup_form_container">
        <form method="post" style="display: flex;flex-direction: column;gap: 10px; margin-bottom: 30px;">
            {% csrf_token %}
            {% for field in form %}
            <div class="form_field">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    {% for error in field.errors %}
                    <p class="field_error">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            {% endfor %}
            <button type="submit">Sign Up</button>
        </form>
    </div>

    <div class="signup_login_link">
        <p>Already have an account? <a href="{% url 'user_admin:login' %}"><button>Log in</button></a></p>
        <p class="signup_terms">By signing up you agree to our <a href="{% url 'kinorg:terms' %}">Terms of Service</a> and <a href="{% url 'kinorg:privacy' %}">Privacy Policy</a>.</p>
    </div>

</div>

{% endblock %}