.reset_page {
	display: flex;
	flex-direction: column;
	margin-top: 40px;
	gap: 20px;
}

.reset_title {
	display: flex;
	justify-content: center;
}

.reset_form {
	display: flex;
	justify-content: center;
}