{% load static %}
{% if user.is_authenticated %}
<div id="film_modal" class="film_modal_overlay" data-placeholder="{% static 'images/placeholder.jpg' %}">
    <div class="film_modal_card">
        <button class="film_modal_close" id="film_modal_close">&times;</button>
        <div class="film_modal_top">
            <img id="film_modal_poster" class="film_modal_poster" src="" alt="">
            <div class="film_modal_info">
                <h4 id="film_modal_title"></h4>
                <a id="film_modal_detail_link" href="#" class="btn">View full details →</a>
            </div>
        </div>
        <div id="film_modal_lists" class="film_modal_lists"></div>
        <a href="{% url 'kinorg:create_list' %}" class="btn btn-cta film_modal_new_list">+ Create new list</a>
    </div>
</div>
{% endif %}
