<div id="toggle-{{ lst.id }}">
    <form>
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ film.id }}">
        <input type="hidden" name="list_id" value="{{ lst.id }}">

        <button
            {% if is_in_list %}
                class="remove_button"
                data-url="{% url 'kinorg:remove_film' %}"
            {% else %}
                class="add_button"
                data-url="{% url 'kinorg:add_film' %}"
            {% endif %}
            data-target="toggle-{{ lst.id }}"
            onclick="toggleFilm(this); return false;">
            {% if is_in_list %}Remove{% else %}Add{% endif %}
        </button>
    </form>
</div>
