{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>

	{# Global stylesheets #}
	<link rel="stylesheet" type="text/css" href="{% static 'css/kinorg_base.css' %}">
	<link rel="shortcut icon" href="{%  static 'favicon/favicon.ico' %}">

	{% block extra_css %}
    {% endblock %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

</head>
<body>

	<div class="top_bar">

		<a href="{% url 'kinorg:home' %}" class="main_title bar_item"><h1>KINORG</h1></a>

		<div class="search_bar bar_item">
			{% if user.is_authenticated %}
			<form method="GET" action="{% url 'kinorg:search' %}">
        		<input type="text" name="query" placeholder="Search for a Film...">
        		<button type="submit">Search</button>
    		</form>
    		{% else %}
    		<span>📺🍿˙✧˖°🍿 ༘ ⋆｡˚🎞️ 📹🤍</span>
    		{% endif %}
		</div>
			
		<div class="user_access bar_item">
			{% if user.is_authenticated %}
			<a href="{% url 'kinorg:my_lists' %}"><p>{{user.username}}</p></a>
			<form method="post" action="/logout/">
    			{% csrf_token %}
    			<button type="submit">logout</button>
			</form>
			{% else %}
			<span style="font-style: italic;">Welcome</span>
			{% endif %}
		</div>

	</div>

        {% block content %}{% endblock %}
    <div class="jmgk_credit">
    	<span>jmgk.dev</span>
	</div>
</body>
</html>