{% extends "kinorg/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'kinorg/css/my_lists.css' %}">
{% endblock %}

{% block content %}

<div class="lists_page_container">

    <div class="invitations_container">
        <a href="{% url 'kinorg:invitations' %}" ><p>Invitations: {{ invitations|length }}</p></a>
    </div>

    <div class="my_lists_container">

        {% if my_lists %}
        <div class="lists_container">
            <h1>My Lists</h1>
            <ul>

            {% for list in my_lists %}

                <li>
                <a href="{% url 'kinorg:list' list.pk  %}"><h3>{{ list.title }}</h3></a>
                </li>

            {% endfor %}

            </ul>
        </div>
        {% endif %}


        {% if guest_lists %}
        <div class="lists_container">
            <h1>Guest Lists</h1>
            <ul>

            {% for glist in guest_lists %}

                <li>
                    <a href="{% url 'kinorg:list' glist.pk  %}"><h3>{{ glist.title }}</h3></a>
                </li>

                <p>List created by {{ glist.owner }}</p>

            {% endfor %}

            </ul>
        </div>
        {% endif %}

    </div>

    <div class="footer_links">
    <a href="{% url 'kinorg:create_list' %}"><p>Create List</p></a>
    </div>

</div>

{% endblock %}