{% extends "kinorg/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'kinorg/css/my_lists.css' %}">
{% endblock %}

{% block content %}

<div class="lists_page_container">

    <div class="my_lists_title">
        <span>My Lists</span>
    </div>

{% if my_lists %}
    
    <div class="my_lists_container">

            <ul class="my_lists">

            {% for list in my_lists %}

                <li class="list_item">

                    <a href="{% url 'kinorg:list' list.sqid  %}"><button>{{ list.title|slice:":30" }}</button></a>
                    
                    {% if list.addition_set.all|length > 0 %}
                    <ul class="list_poster_stack">
                        {% for addition in list.addition_set.all %}
                            <li class="stack_item">
                                <a href="{% url 'kinorg:film_detail' addition.film.id %}">
                                <img class="poster" src="{{config_data.secure_base_url}}w200{{addition.film.poster_path}}">
                                </a>
                            <li>
                        {% endfor %}
                    </ul>

                    {% else %}
                        <img class="poster" src="{% static 'images/placeholder.jpg' %}">
                    {% endif %}

                </li>

            {% endfor %}

            </ul>
    </div>

{% endif %}

{% if guest_lists %}

    <div class="my_lists_container">

            <ul class="my_lists">

            {% for glist in guest_lists %}

                <li class="list_item">

                    <a href="{% url 'kinorg:list' glist.sqid  %}"><button>{{ glist.title|slice:":30" }}</button></a>
                    <div>List created by {{ glist.owner }}</div>
                </li>

            {% endfor %}

            </ul>

    </div>

 {% endif %}

</div>

{% endblock %}