{% extends "kinorg/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'kinorg/css/film_detail.css' %}">
{% endblock %}

{% block content %}

<div class="detail_container">

    <div class="detail_content film_content_container">

        <div class="film_content_a">
                
            <img class="detail_poster" src="{% if film.poster_path %}{{config_data.secure_base_url}}w500{{film.poster_path}}{% else %}{% static 'images/placeholder.jpg' %}{% endif %}">

            <div class="film_details">

                <h4><b>{{ film.title }}</b></h4>
                <p class="italic">{{ film.tagline }}</p>
                <p>Released: {{ film.release_date|slice:4 }}</p>
                <p>Directed by</p>
                <div class="director_links">
                    {% for director in directors %}
                        <a href="{% url 'kinorg:person_credits' director.id %}" class="btn">{{ director.name }}</a>
                    {% endfor %}
                </div>

            </div>

        </div> 

        <div class="film_content_b">

            <p class="overview">{{ film.overview|slice:":100" }}<span id="dots">...</span><span id="more">{{ film.overview|slice:"100:" }}</span></p>
                <button onclick="ReadMore()" id="myBtn">Read more</button>
            
        </div>

    </div>

</div>


<div class="detail_container">

    {% include "kinorg/_review_section.html" with film=film %}

</div>


{% if watch_providers %}
<div class="detail_container">
    <div class="detail_content watch_providers_content">
        <p><b>Where to Watch</b> <span class="providers_region">(UK)</span></p>

        <div class="watch_links">
            {% if amazon_url %}
            <a href="{{ amazon_url }}" target="_blank" rel="noopener" class="provider_link" title="Amazon Prime Video">
                <img class="provider_logo" src="{{ config_data.secure_base_url }}w92{{ amazon_logo_path }}" alt="Amazon Prime Video">
            </a>
            {% endif %}
            <a href="{{ justwatch_url }}" target="_blank" rel="noopener" class="justwatch_badge" title="Find on JustWatch">
                <img src="{% static 'kinorg/img/justwatch-logo.webp' %}" alt="JustWatch" class="justwatch_logo">
            </a>
        </div>
    </div>
</div>
{% endif %}


{% if film_reviews %}

<div class="detail_container">

    <div class="detail_content reviews_content">

        <h4><b>Reviews</b></h4>

        <ul class="reviews_list">

            {% for review in film_reviews %}
                <li class="review_item">
                    <p><b>{{ review.user }}</b></p>
                    {% if review.stars %}
                    <div class="rating review_stars">
                        {% for i in "12345" %}
                            <span class="star {% if i|add:0 <= review.stars %}filled{% endif %}">★</span>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <p>"{{ review.mini_review }}"</p>
                </li>
            {% endfor %}

        </ul>

    </div>
    

</div>

{% endif %}

<div class="detail_container">

    {% if my_lists or guest_lists %}
    <div class="add_remove_buttons">
    <p><b>My Lists</b></p>

        {% for lst in my_lists %}

            <div class="add_remove_button">
                <a href="{% url 'kinorg:list' lst.sqid %}" class="btn">{{ lst.title|slice:":30" }}</a>

                {% include "kinorg/_toggle_button.html" with lst=lst film=film is_in_list=lst.contains_film %}

            </div>

        {% endfor %}

        {% for lst in guest_lists %}

            <div class="add_remove_button">
                <a href="{% url 'kinorg:list' lst.sqid %}" class="btn">{{ lst.title|slice:":30" }}</a>

                {% include "kinorg/_toggle_button.html" with lst=lst film=film is_in_list=lst.contains_film %}

            </div>

        {% endfor %}

    </div>

    {% else %}

    <p>You don't have any lists yet. <a href="{% url 'kinorg:my_lists' %}" class="btn btn-cta">Create a list</a> to add this film!</p>

    {% endif %}

</div>



<div class="videos_container detail_container">

    <div class="videos_section detail_content">
        
        {% if film.videos %}
            <!-- <h3><b>Videos</b></h3> -->
            
            <ul class="video_list">
                {% for video in film.videos.results %}
                    <li class="video_item">
                        <a href="https://www.youtube.com/watch?v={{ video.key }}" target="_blank">
                          <img src="https://img.youtube.com/vi/{{ video.key }}/hqdefault.jpg"
                               alt="Video Thumbnail" 
                               style="width: 100%; min-width: 270px; max-width: 720px; border-radius: 10px; border-color: white; border-style: solid;border-width: 1px;"></a>
                        <a href="https://www.youtube.com/watch?v={{ video.key }}" target="_blank">{{ video.name }}</a>
                    </li>
                {% empty %}
            <p>No videos available for this film.</p>
                {% endfor %}
            </ul>

        {% endif %}

    </div>

</div>



<div class="detail_container">

    <div class="detail_content cast_content">

        {% if film.credits.cast %}

            <p><b>Cast</b></p>
            
            <ul class="cast_list">
                {% for member in film.credits.cast|slice:":10" %}
                    <li class="cast_item">

                        <a href="{% url 'kinorg:person_credits' member.id %}">
                        {% if member.profile_path %}
                            <img class="detail_poster" src="{{config_data.secure_base_url}}w500{{member.profile_path}}">
                        {% else %}
                            <img class="detail_poster" src="{% static 'images/placeholder.jpg' %}">
                        {% endif %}
                        </a>

                        <p><a href="{% url 'kinorg:person_credits' member.id %}">{{ member.name }}</a> as {{ member.character }}</p>
                    </li>
                {% endfor %}
            </ul>
        
        {% else %}
        
        <p>No cast information available.</p>

        {% endif %}

    </div>

</div>


<div class="detail_container">
    
    <div class="detail_content similar_content">

    {% if film.similar %}
        <p><b>Similar Films</b></p>
        
        <ul class="similar_list">
            {% for similar_film in film.similar.results|slice:":10" %}
                <li class="similar_item">
                    <a href="{% url 'kinorg:film_detail' similar_film.id %}">
                    {% if similar_film.poster_path %}
                        <img class="detail_poster" src="{{config_data.secure_base_url}}w500{{similar_film.poster_path}}">
                    {% else %}
                        <img class="detail_poster" src="{% static 'images/placeholder.jpg' %}">
                    {% endif %}
                    </a>
                    <p><a href="{% url 'kinorg:film_detail' similar_film.id %}">{{ similar_film.title }}</a></p>
                </li>
            {% empty %}
            <li>No similar films found.</li>
            {% endfor %}
        </ul>

    {% endif %}
        
    </div>
    
</div>


<script src="{% static 'kinorg/js/film_detail.js' %}"></script>

{% endblock %}