{% extends "kinorg/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'kinorg/css/my_lists.css' %}">
{% endblock %}

{% block content %}

<div class="lists_page_container">

    <div class="my_lists_title">
        <span>My Lists</span>
    </div>
    
    <div class="my_lists_container">

        {% if my_lists %}
        <div class="lists_container">
            <ul class="my_lists">

            {% for list in my_lists %}

                <li>
                <a href="{% url 'kinorg:list' list.pk  %}"><button>{{ list.title }}</button></a>
                </li>

            {% endfor %}

            </ul>
        </div>
        {% endif %}


        {% if guest_lists %}
        <div class="lists_container">

            <ul class="my_lists">

            {% for glist in guest_lists %}

                <li class="list_item">
                    <a href="{% url 'kinorg:list' glist.pk  %}"><button>{{ glist.title }}</button></a>
                    <div>List created by {{ glist.owner }}</div>
                </li>

            {% endfor %}

            </ul>
        </div>
        {% endif %}

    </div>

    <div class="invitations_container">
        <a href="{% url 'kinorg:invitations' %}" ><span>Invitations: {{ invitations|length }}</span></a>
    </div>

    <div class="create_list">
        <a href="{% url 'kinorg:create_list' %}"><p>Create List</p></a>
    </div>

</div>

{% endblock %}