{% extends "kinorg/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'kinorg/css/home_page.css' %}">
{% endblock %}

{% block extra_js %}
{% endblock %}

{% block content %}
	
	<div class="home_page_container">

		{% if user.is_authenticated %}
			<div class="my_lists_link"><a href="{% url 'kinorg:my_lists' %}"><span>My Lists</span></a></div>
		{% else %}
			<div  class="login_link"><a href="{% url 'user_admin:login' %}"><span>Login</span></a></div>
		{% endif %}

		<div class="list_header">
			<span>Recently Added</span>
		</div>

		<div class="film_list_container">

    		<ul class="list_of_films">

    			{% for film in object_list %}

    			<li class="film_item">
    				<a href="{% url 'kinorg:film_detail' film.movie_id %}">
    					<img class="poster" src="{{config_data.secure_base_url}}w200{{film.poster_path}}">
    				</a>
    			</li>

    			{% endfor %}	

    		</ul>

		</div>

	</div>

{% endblock content %}




