{% extends "kinorg/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'kinorg/css/home.css' %}">
{% endblock %}

{% block content %}
	
	<div class="home_page_container">

		{% if user.is_authenticated %}
			<a href="{% url 'kinorg:my_lists' %}" class="login_link"><h3>My Lists</h3></a>
		{% else %}
			<a href="{% url 'user_admin:login' %}" class="login_link"><h3>Login</h3></a>
		{% endif %}

		<div class="list_header">
			<h3>Recently Added Films</h3>
		</div>

		<div class="film_list_container">

    		<ul class="list_of_films">

    			{% for film in object_list %}

    			<li class="film_item">
    				<img class="film_poster" src="{{config_data.secure_base_url}}w92{{film.poster_path}}">
    				<a href="{% url 'kinorg:film_detail' film.movie_id %}">{{ film.title }}</a>
					<div>({{ film.year }})</div>
    			</li>

    			{% endfor %}	

    		</ul>

		</div>

	</div>

{% endblock %}
