{% extends "kinorg/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'kinorg/css/home.css' %}">
{% endblock %}

{% block content %}
	
	<div class="home_page_container">

		<div class="welcome_message">
			<h1>WELCOME</h1>
		</div>

		<div class="film_list_container">

    		<ul class="latest_added_films">

    			{% for film in films %}

    			<li class="added_film">
    				<a href="{% url 'kinorg:film_detail' film.movie_id %}">{{ film.title }}</a>
    	    	    <img class="film_poster" src="{{config_data.secure_base_url}}w92{{film.poster_path}}">
    			</li>

    			{% endfor %}	

    		</ul>

		</div>

	</div>

{% endblock %}
