{% extends "kinorg/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'kinorg/css/search.css' %}">
{% endblock %}

{% block content %}

    <div class="results_list_container">
        
    <div class="results_title_info">
        <span>results for "{{query}}"</span>
    </div>


        {% if results_list %}
        <ul class="list_of_results">

            {% for result in results_list %}
                <li class="results_item">

                    <div class="result">

                        {% if result.poster_path %}
                            <a href="{% url 'kinorg:film_detail' result.id %}"><img class="poster" src="{{config_data.secure_base_url}}w200{{result.poster_path}}"></a>
                        {% elif result.profile_path %}
                            <a href="{% url 'kinorg:person_credits' result.id %}"><img class="poster" src="{{config_data.secure_base_url}}w200{{result.profile_path}}"></a>
                        {% else %}
                            <a href="{% url 'kinorg:film_detail' result.id %}"><img class="poster" src="{% static 'images/placeholder.jpg' %}"></a>
                        {% endif %}

                        <div class="result_info">

                            {% if result.title %}
                                <a href="{% url 'kinorg:film_detail' result.id %}">{{ result.title }}</a>
                            {% endif %}
    
                            {% if result.name %}
                                <a href="{% url 'kinorg:person_credits' result.id %}">{{ result.name }}</a>
                            {% endif %}

                            {% if result.release_date %}
                                <div>({{ result.release_date|slice:4 }})</div>
                            {% endif %}

                            {% if result.known_for %}
                                <div class="known_for">
                                {% for film in result.known_for %}
                                    <a href="{% url 'kinorg:film_detail' film.id %}"><button>{{ film.title }}</button></a>
                                {% endfor %}
                            {% endif %}

                        </div>


                        </div>

                        {% if result.title %}

                        <div class="add_result" id="form_container_{{ forloop.counter }}">
                            
                            {% if my_lists or guest_lists %}

                            <form method="POST" action="/add-film/" hx-post="/add-film/" hx-target="#form_container_{{ forloop.counter }}" hx-swap="innerHTML">
                                {% csrf_token %}

                                <input type="hidden" id="title" name="title" value="{{ result.title }}">
                                <input type="hidden" id="year" name="year" value="{{ result.release_date|slice:4 }}">
                                <input type="hidden" id="movie_id" name="movie_id" value="{{ result.id }}">
                                <input type="hidden" id="poster_path" name="poster_path" value="{{ result.poster_path }}">

                                <label for="list_id"></label>
                                <select name="list_id" id="list_id">

                                    <option value="" selected>--- Pick a list</option>

                                    {% for lst in my_lists %}

                                        {% if result.id not in lst.movie_ids %}

                                            <option value="{{ lst.id }}">{{ lst.title }}</option>

                                        {% else %}

                                            <option value="" disabled>{{ lst.title }} - already added</option>

                                        {% endif %}

                                    {% endfor %}

                                    {% for glst in guest_lists %}

                                        {% if film.id not in glst.movie_ids %}

                                        <option value="{{ glst.id }}">{{ glst.title }}</option>

                                        {% else %}

                                            <option value="" disabled>{{ glst.title }} - already added</option>

                                        {% endif %}

                                    {% endfor %}

                                </select>

                                <button type="submit">add to list</button>

                            </form>

                            {% else %}

                                <a href="{% url 'kinorg:create_list' %}"><p>Create List</p></a>

                            {% endif %}

                        {% endif %}

                </li>
            {% endfor %}

        </ul>
        {% endif %}


    </div>

<div class="footer_links">
    <a href="{% url 'kinorg:create_list' %}"><p>Create List</p></a>
    <a href="{% url 'kinorg:home' %}"><p>Back to home</p></a>
</div>

{% endblock %}