{% extends "kinorg/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'kinorg/css/search.css' %}">
{% endblock %}

{% block search %}

<div class="search_page">

    <div class="search_input_container">
        <input
            type="text"
            id="live_search_input"
            placeholder="Search films and people..."
            value="{{ query }}"
            autocomplete="off"
        >
    </div>

    <div class="search_filter_btns">
        <button class="filter_btn active" data-filter="all">All</button>
        <button class="filter_btn" data-filter="films">Films</button>
        <button class="filter_btn" data-filter="people">People</button>
    </div>

    <ul id="live_search_results" class="search_results_list"
        data-base-url="{{ config_data.secure_base_url }}"
        data-placeholder-url="{% static 'images/placeholder.jpg' %}">
        {% for result in results_list %}
        <li class="search_result_item">
            <a href="{% if result.profile_path %}{% url 'kinorg:person_credits' result.id %}{% else %}{% url 'kinorg:film_detail' result.id %}{% endif %}">
                {% if result.poster_path %}
                    <img class="search_result_poster" src="{{ config_data.secure_base_url }}w92{{ result.poster_path }}">
                {% elif result.profile_path %}
                    <img class="search_result_poster" src="{{ config_data.secure_base_url }}w92{{ result.profile_path }}">
                {% else %}
                    <img class="search_result_poster" src="{% static 'images/placeholder.jpg' %}">
                {% endif %}
                <div class="search_result_info">
                    <p><b>{% if result.title %}{{ result.title }}{% else %}{{ result.name }}{% endif %}</b></p>
                    <p>{{ result.release_date|slice:":4" }}</p>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>

    <div id="genre_chips_wrap" class="genre_chips_wrap">
        <p class="collections_browse_header">Browse by genre</p>
        <div class="genre_chips">
            <a href="{% url 'kinorg:genre_detail' 'action' %}" class="genre_chip">Action</a>
            <a href="{% url 'kinorg:genre_detail' 'adventure' %}" class="genre_chip">Adventure</a>
            <a href="{% url 'kinorg:genre_detail' 'animation' %}" class="genre_chip">Animation</a>
            <a href="{% url 'kinorg:genre_detail' 'comedy' %}" class="genre_chip">Comedy</a>
            <a href="{% url 'kinorg:genre_detail' 'crime' %}" class="genre_chip">Crime</a>
            <a href="{% url 'kinorg:genre_detail' 'documentary' %}" class="genre_chip">Documentary</a>
            <a href="{% url 'kinorg:genre_detail' 'drama' %}" class="genre_chip">Drama</a>
            <a href="{% url 'kinorg:genre_detail' 'fantasy' %}" class="genre_chip">Fantasy</a>
            <a href="{% url 'kinorg:genre_detail' 'history' %}" class="genre_chip">History</a>
            <a href="{% url 'kinorg:genre_detail' 'horror' %}" class="genre_chip">Horror</a>
            <a href="{% url 'kinorg:genre_detail' 'music' %}" class="genre_chip">Music</a>
            <a href="{% url 'kinorg:genre_detail' 'mystery' %}" class="genre_chip">Mystery</a>
            <a href="{% url 'kinorg:genre_detail' 'romance' %}" class="genre_chip">Romance</a>
            <a href="{% url 'kinorg:genre_detail' 'science-fiction' %}" class="genre_chip">Science Fiction</a>
            <a href="{% url 'kinorg:genre_detail' 'thriller' %}" class="genre_chip">Thriller</a>
            <a href="{% url 'kinorg:genre_detail' 'war' %}" class="genre_chip">War</a>
            <a href="{% url 'kinorg:genre_detail' 'western' %}" class="genre_chip">Western</a>
        </div>
    </div>

    <div id="collections_browse" class="collections_browse">
        <p class="collections_browse_header">Browse collections</p>
        <ul class="collections_list">

            {% for tag, name in collections.items %}
            {% if not tag|slice:":5" == "tspdt" %}
            <li class="collection_browse_item">
                <a href="{% url 'kinorg:collection_detail' tag %}">{{ name }}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>

</div>

{% endblock %}

{% block extra_js %}
<script src="{% static 'kinorg/js/search.js' %}"></script>
{% endblock %}