{% extends "kinorg/base.html" %}
{% load static %}

{% block extra_css %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'kinorg/css/search.css' %}"> -->
{% endblock %}

{% block content %}

    <div class="user_list_container">


        {% if user_results %}
        <ul class="list_of_user">

            {% for user in user_results %}
                <li class="user_item">
                    <p>{{ user.username }}</p>
                </li>
            {% endfor %}

        </ul>
        {% endif %}


    </div>

<div class="footer_links">
    <a href="{% url 'kinorg:create_list' %}"><p>Create List</p></a>
    <a href="{% url 'kinorg:home' %}"><p>Back to home</p></a>
</div>

{% endblock %}